In [1]:
print ('welcome')

welcome

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print ('Am ready')

Am ready

In [8]:
kpmg_data = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerDemographic')
kpmg_data.head(4)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0

In [18]:
first_name_DATA = kpmg_data[['first_name','gender']]

In [19]:
first_name_DATA

          first_name  gender
0            Laraine       F
1                Eli    Male
2              Arlin    Male
3             Talbot    Male
4     Sheila-kathryn  Female
...              ...     ...
3995         Rosalia  Female
3996          Blanch  Female
3997          Sarene       U
3998       Patrizius    Male
3999           Kippy    Male

[4000 rows x 2 columns]

In [20]:
NEW_CSV = zip (first_name_DATA)

In [23]:
CSV_format = pd.DataFrame(data = NEW_CSV )

In [27]:
CSV_format.to_csv('first_name1.csv',index=False,header=False)

In [29]:
writer = pd.ExcelWriter('first_name_DATA.xlsx', engine='xlsxwriter')
writer.to_excel(writer, sheet_name='Sheet1')
writer.save()

AttributeError: '_XlsxWriter' object has no attribute 'to_excel'