In [1]:
My_name = 'DENNIS'

In [7]:
My_name[5]

'S'

In [3]:
len(My_name)

6

In [43]:
Name=input('plz enter your name', )  # we can use AND..OR gate to embbed intelligence into our code
if len(Name)> 5:         
    print ('welcome')
    
else:
    print('Log out')

plz enter your nameCHYKE
Log out

In [18]:
# concantination of strings
# or in adding space inbetween you use the  " " sign
first_name= ' Dennis'
Surname = ' Okafor'
Greeting = ' Hello! Mr.'
Full_name = Greeting + first_name + Surname
Full_name

' Hello! Mr. Dennis Okafor'

In [19]:
Greeting + " " + first_name + " "+Surname

' Hello! Mr.  Dennis  Okafor'

In [21]:
Greeting + " " + first_name + " "+Surname

' Hello! Mr.  Dennis  Okafor'

In [23]:
#Methods under the string class
# variable_name.method()
# .upper()
# .lower()
# .capitalize()
# .replace()
# .split()
Greetings = 'Hello !'
Greetings

'Hello !'

In [24]:
Greetings.upper()

'HELLO !'

In [25]:
Greetings.lower()

'hello !'

In [26]:
"Dennis".lower()  #direct usage with the string

'dennis'

In [27]:
type(Greetings)

str

In [29]:
"okafor".capitalize()

'Okafor'

In [44]:
"""
   == equal to
   != not equal to
   >= greater than or equal to
   <= less than or equal to
"""

'\n   == equal to\n   != not equal to\n   >= greater than or equal to\n   <= less than or equal to\n'

In [53]:
#List variable_name = [ 'input_1', 'input_2', 'input_n']
fruit= ['Apple', 'Banana', 'penipple',5,3>5 ] #a list can take both int str and other data types
fruit

['Apple', 'Banana', 'penipple', 5, False]

In [48]:
type(fruit)

list

In [57]:
print ("The number of fruit available is: ", len(fruit))

The number of fruit available is:  5

In [55]:
Empty_list= []

In [56]:
Empty_list.append = 'banana'

AttributeError: 'list' object attribute 'append' is read-only

In [61]:
# list indexing
fruit[-2]
#Range indexing
fruit[1:3]

['Banana', 'penipple']

In [64]:
# A list inside a list
List = ['Mr Remmy', 'Mr Emeka', ['Toyota','Lexus'], 'Izu']
List

['Mr Remmy', 'Mr Emeka', ['Toyota', 'Lexus'], 'Izu']

In [67]:
List_of_cars =List[2]
List_of_cars

['Toyota', 'Lexus']

In [68]:
List_of_cars[1]

'Lexus'

In [69]:
fruit

['Apple', 'Banana', 'penipple', 5, False]

In [71]:
#changing the element of a list
fruit[1]= 'abalomo'

In [72]:
fruit

['Apple', 'abalomo', 'penipple', 5, False]

In [75]:
#methods in a list
# .insert  .remove  .pop .copy
fruit.insert(1, 'blueberry')

In [76]:
fruit

['Apple', 'blueberry', 'blueberry', 'abalomo', 'penipple', 5, False]

In [77]:
# To check wheather a list contain an element
"Apple" in fruit

True

In [78]:
more_fruit = fruit + ['guva', 'orange'] + ['pepper','mango']

In [80]:
#fruit concentanation
more_fruit

['Apple',
 'blueberry',
 'blueberry',
 'abalomo',
 'penipple',
 5,
 False,
 'guva',
 'orange',
 'pepper',
 'mango']

In [82]:
more_fruit_copy = more_fruit.copy()
more_fruit_copy

['Apple',
 'blueberry',
 'blueberry',
 'abalomo',
 'penipple',
 5,
 False,
 'guva',
 'orange',
 'pepper',
 'mango']

In [83]:
len(more_fruit_copy)

11

In [84]:
#Assignment
# 1. Reverse the order of element in a list
# 2. Add the element of 1 list to the end of another list
# 3. sort a list of string alphabetically
# 3. sort a list of number in acsending and decending order

In [85]:
# Turple is an ordered collections of values, similar to a list. it is impossible to add, remove or modify values in a turple
# Turple_variable = ('input_1','input_2')

In [86]:
#A dictionary is an unordered items. Each item in a dictionary has a key and value placed in cully braces

In [94]:
Dict_1 = {
    "Name": 'Dennis Okafor',
    "Reg_Num" : 2013
}

In [95]:
Dict_1

{'Name': 'Dennis Okafor', 'Reg_Num': 2013}