In [1]:
#About PostgreSQL
#We can access the database using the PGAdmin app or the command line[SQL Shell]

In [2]:
# Using the SQL command line
# 1. Open the SQL command line
# 2. Press enter-enter and finally enter your password
# You are good to GO

In [7]:
# List of Hot Keys
# help >> other sub commands
# \l --- list all of the data base
# \? ----
import pandas as pd
pd.DataFrame?

In [8]:
#To Create a data base we use the key word CREATE DATABASE Student_score
import numpy as np
result = 0
for i in range(100):
    result += i

In [ ]:
# How to connect to a data base
#how to connect to a database: \c database name
# to delect a database: Drop database d_name

In [8]:
#How to create a table in Postgresql
CREATE TABLE table_name {
    Column name + data type
    
}

SyntaxError: invalid syntax (<ipython-input-8-610337fa0efb>, line 2)

In [1]:
import pandas as pd
import numpy as np

In [ ]:
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

In [ ]:
bdates = ['1/1/1945','10/21/76','3/3/90',
'04/30/1901','1963-09-01']

In [ ]:
GradeList = zip(names,grades,bsdegrees,msdegrees,
phddegrees,bdates)

In [ ]:
columns=['Names','Grades','BS','MS','PhD',"bdates"]
df = pd.DataFrame(data = GradeList, columns=columns)

In [6]:
df

     Names  Grades  BS  MS  PhD      bdates
0      Bob      76   1   2    0    1/1/1945
1  Jessica      95   1   1    1    10/21/76
2     Mary      77   0   0    0      3/3/90
3     John      78   0   0    0  04/30/1901
4      Mel      99   1   0    0  1963-09-01

In [11]:
from time import strftime
from datetime import datetime
def standardize_date(thedate):
    formatted_date = ""
    thedate = str(thedate)
if not thedate or thedate.lower() == "missing"or thedate == "nan":
    formatted_date = "MISSING"
if the_date.lower().find('x') != -1:
    formatted_date = "Incomplete"
if the_date[0:2] == "00":
    formatted_date = thedate.replace("00", "19")
try:
    formatted_date = str(datetime.strptime(thedate,'%m/%d/%y').strftime('%m/%d/%y'))
except:
    pass
try:
    formatted_date = str(datetime.strptime(thedate, '%m/%d/%Y').strftime('%m/%d/%y'))
except:
    pass
try:
    if int(the_date[0:4]) < 1900:
        formatted_date = "Incomplete"
else:
    formatted_date = str(datetime.strptime(thedate, '%Y-%m-%d')
                         .strftime('%m/%d/%y'))
except:
    pass
    return formatted_date

SyntaxError: invalid syntax (<ipython-input-11-33a341a747eb>, line 23)

#Variable decalaration

In [ ]:
import pandas as pd

In [ ]:
print('Hello')